{% extends 'dashboard.html' %}
{% block addcss %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
            <th>notes id</th>
            <th>title</th>
            <th>created at</th>
            </tr>
        </thead>
        <tbody>
            {% for i in ndata %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td><a href="{{url_for('viewnotes',nid=i[0])}}">View</a></td>
                <td><a href="{{url_for('deletenotes',nid=i[0])}}">delete</a></td>
                <td><a href="{{url_for('updatenotes',nid=i[0])}}">update</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}